<!-- esta en realidad va a ser el header -->
<header >
      <!-- imagen central+Titulo -->
      <div class="contenedor1" >
      

         <img class="img-fluid" src="assets/img/fondos.jpg" id="img1">
        
        <div class="row">

            <div class="col titulo">
                <h1>Bienvenido a FADEV</h1>
                <br>
                <h2>Somos Desarrolladores web y soñadores freelance</h2>
                
            </div>
         
            <!--ancla para el nav  -->
            <div id="nosotros"style="width: 20px;"></div>
            <!--cierra col -->
            
        </div>
        <!--cierra row -->
        
    </div>
    <!--cierra contenedor 1-->
    
</header>


