
<section class="container mt-5">

	<!-- Nosotros -->
  <div class="row pb-5 pt-5">
    <div class="col-xl-6 col-md-6 mb-8">
      <div>
        <h1 class="font-bold text-black ">Sobre Nosotros</h1>
      </div>
      <div>
        <span class="about-text">
          Hola! Somos <b>FADEV</b> – una agencia de desarrollo ubicada en Buenos Aires, Argentina.<br />
          Desarrollamos aplicaciones y sitios web tanto estaticas como autoadministrables.<br /> Creamos a partir
          de nuestra pasión, talento y experiencia. Somos un grupo de profesionales compuesto por diseñadores y desarrolladores de primer nivel.<br />Logramos que su negocio se diferencie
          gracias al diseño web y el desarrollo de aplicaciones online, funcionales, innovadoras y de alta calidad. Trabajamos
          a tiempo, en contacto con nuestros clientes y adaptándonos siempre a los cambios. Somos apasionados por lo que
          hacemos.<br /> Nuestra responsabilidad, innovación y compromiso nos permiten estar un paso adelante.
        </span>
      </div>
    </div>
    <div class="col-xl-6 col-md-6 mb-3 pt-5">
      <object data="/assets/img/dev.svg" type="image/svg+xml" style="width: 100%;"></object>
    </div>
  </div>
  <hr />
  <hr />
  <div class="row pb-5 pt-5">
    <div class="col-xl-6 col-md-6 mb-12">
      <object data="/assets/img/deve.svg" type="image/svg+xml" style="width: 100%;"></object>
    </div>
    <div class="col-xl-6 col-md-6 mb-12">
      <div>
        <h1 class="font-bold text-black ">Por qué elegirnos?</h1>
      </div>
      <div>
        <span class="why-text">
          Todos los clientes son distintos y cada caso esconde sus propias particularidades. Por ende, todos nuestros clientes
          requieren una solución personalizada. En <b>FADEV</b> creemos en el desarrollo de soluciones digitales estratégicas a
          medida para cualquier situación que se nos presente. Sea una Aplicacion Web o una simple landing page para su negocio, a cada caso aplicamos el mismo proceso: descubrir junto al cliente la
          dirección a seguir, establecer un diseño especifico y desarrollar la solución justa para satisfacer sus necesidades.
        </span>
      </div>
    </div>
  </div>

</section>