<section class="team team--bg mb-5" id="servicios">
    <div class="container">
      <div class="page-section">
        <div class="text-center mb-5">
          <h1 class="page-section__title">Servicios</h1>
          <div class="team__title-style">
            <span class="first-line"></span>
            <span class="second-line"></span>
          </div>
          <p class="page-section__subtitle"></p>
        </div>
        <div class="row gutters-80 mt-5">

            <div class="col-md-4">
                <div class="thumbnail team__single">
                  <div class="bio text-center">
                    <object data="/assets/img/html.svg" type="image/svg+xml" style="width: 100%;"></object>
                    
                    <h2 class="text-center">WEB INICIAL</h2>
                    <p class="text-center">Web one page</p>
                    <p class="text-center"><em>Plan orientado a pequeñas empresas o profesionales o cualquier persona que necesite tener presencia en internet a bajo costo.</em></p>
                  </div>
                  <div >
                    <ul>
                        <li class="text-center">1 página o sección</li>
                        <li class="text-center">—</li>
                        <li class="text-center">Mapa interactivo Goolgle Maps</li>
                        <li class="text-center">Formulario de contacto</li>
                        <li class="text-center">Integración redes sociales</li>
                        <li class="text-center">Responsive. Adaptado a celulares y tablets</li>
                        <li class="text-center">—</li>
                        <li class="text-center">—</li>
                    </ul> 
                  </div>
                </div>
              </div>

          <div class="col-md-4">
            <div class="thumbnail team__single">
              <div class="bio text-center">
                <object data="/assets/img/prog.svg" type="image/svg+xml" style="width: 100%;"></object>
                <h2 class="text-center">Desarrollo Web Ideal</h2>
                <p class="text-center">Web avanzada Autoadministrable</p>
                <p class="text-center"><em>Plan orientado a empresas o profesionales que necesitan autogestionar su sitio web y actualizar contenidos con frecuencia.</em></p>
              </div>
              <div class="caption">
                <ul>
                    <li class="text-center">Secciones Ilimitadas</li>
                    <li class="text-center">Autoadministrable</li>
                    <li class="text-center">Mapa interactivo Goolgle Maps</li>
                    <li class="text-center">Formulario de contacto</li>
                    <li class="text-center">Integración redes sociales</li>
                    <li class="text-center">Responsive. Adaptado a celulares y tablets</li>
                    <li class="text-center">—</li>
                    <li class="text-center">ADEMÁS: (Soporte de Aprendizaje) creamos manual de usuario sobre el funcionamiento de su web en formato PDF (¿como agregar productos?, ¿como crear categorias?, etc)</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail team__single">
              <div class="bio text-center">
                <object data="/assets/img/responsive.svg" type="image/svg+xml" style="width: 100%;"></object>
                <h2 class="text-center">Desarrollo Web Full</h2>
                <p class="text-center">Web avanzada Autoadministrable</p>
                <p class="text-center"><em>Plan orientado a empresas o profesionales que necesitan autogestionar su sitio web y actualizar contenidos con frecuencia.</em></p>
              </div>
              <div class="caption">
                <ul>
                    <li class="text-center">Secciones Ilimitadas</li>
                    <li class="text-center">Autoadministrable</li>
                    <li class="text-center">Mapa interactivo Goolgle Maps</li>
                    <li class="text-center">Formulario de contacto</li>
                    <li class="text-center">Integración redes sociales</li>
                    <li class="text-center">Responsive. Adaptado a celulares y tablets</li>
                    <li class="text-center">Certificado SSL (sitio seguro)</li>
                    <li class="text-center">ADEMÁS: (Soporte de Aprendizaje) creamos manual de usuario sobre el funcionamiento de su web en formato PDF (¿como agregar productos?, ¿como crear categorias?, etc)</li>
                </ul>
                
                
              </div>
            </div>
          </div>
         
        </div>
      </div>
    </div>
  </section>



